.pt-7 {
  padding-top: 3.5em;
}

.w-23 {
  width: 11.5em;
}

.h-2 {
  height: 3em;
}

.w-28 {
  width: 14em;
}

.text-white {
  color: white;
}

.mt-20 {
  margin-top: 6em;
}

.bg-imgelaina1::before {
  background-image: url("../img/elaina916.png");
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  filter: grayscale(13%) brightness(33%) saturate(164%) contrast(101%);
  -webkit-filter: grayscale(13%) brightness(33%) saturate(164%) contrast(101%);
  -moz-filter: grayscale(13%) brightness(33%) saturate(164%) contrast(101%);
  pointer-events: none;
  z-index: -1;
}

.navbar {
  content: "";
  position: fixed;
  backdrop-filter: blur(10px);
}

.containerform {
  content: "";
  backdrop-filter: blur(10px);
}

@media (min-width: 1025px) {
  .bg-imgelaina1::before {
    background-image: url("../img/elaina169.jpg");
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    filter: grayscale(13%) brightness(33%) saturate(164%) contrast(101%);
    -webkit-filter: grayscale(13%) brightness(33%) saturate(164%) contrast(101%);
    -moz-filter: grayscale(13%) brightness(33%) saturate(164%) contrast(101%);
    pointer-events: none;
    z-index: -1;
  }
}
